<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <div class="hero-container" data-aos="fade-in"  id="home-step">
    <h1>Moez Saidi</h1>
    <p>I'm <span class="typed" data-typed-items="a Software Engineer, a Backend Developer, a Cloud Developer"></span></p>
    <a><img src="/assets/play.gif" (click)="startTuto()" style="border-radius: 20%;max-width: 250px;cursor:pointer" alt="play-intro"/></a>

  </div>

</section><!-- End Hero -->
