

<app-sidenav></app-sidenav>

<app-landing-page></app-landing-page>

<main id="main">

  <!-- ======= About Section ======= -->
  <app-about></app-about>
  <!-- End About Section -->

  <!-- ======= Clubs Section ======= -->
  <app-clubs></app-clubs>
  <!-- ======= Skills Section ======= -->
  <app-skills id="skills-step"></app-skills>
  <!-- ======= Resume Section ======= -->
  <app-resume></app-resume>
  <!-- ======= Skills Card Section ======= -->
  <app-skills-card></app-skills-card>
  <!-- ======= Project Section ======= -->
  <app-projects id="projects-step"></app-projects>
  <!-- ======= Testimonials Section ======= -->
  <app-testimonials id="testimonials-step" [config]="config" ></app-testimonials>
  <!-- ======= Contact Section ======= -->
  <app-contact id="contact-step"></app-contact>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Moez Saidi</span></strong>
    </div>
  </div>
</footer><!-- End  Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


