<section id="portfolio" class="portfolio section-bg">
  <div class="container">

    <div class="section-title">
      <h2>Portfolio</h2>
      <p></p></div>

    <div class="row" data-aos="fade-up">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active" [ngClass]="selectedCategory == '' ? 'filter-active' : ''"
              (click)="getSelectedSkillsByCategory('')">All
          </li>
          <li data-filter=".filter-{{category.name.split(' ').join('-')}}" *ngFor="let category of categories"
              (click)="getSelectedSkillsByCategory(category.name)"
              [ngClass]="selectedCategory == category.name ? 'filter-active' : ''">
            {{category.name}}
          </li>
        </ul>
      </div>
    </div>

    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

      <div *ngFor="let skill of skills"
           class="col-lg-3 col-md-4 portfolio-item filter-{{skill.category.name.split(' ').join('-')}}">
        <div class="portfolio-wrap">
          <img src="{{skill?.image}}" class="img-fluid" style="height: 150px" alt="">
          <div class="portfolio-links">
            <a  data-gallery="portfolioGallery" class="portfolio-lightbox"
               title="{{skill.name}}"><i class="bx bx-plus"></i></a>
            <a  title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>


    </div>

  </div>
</section><!-- End Portfolio Section -->
