<section id="clubs" class="facts">
  <div class="container">

    <div class="section-title">
      <h2>Clubs</h2>
      <p>During my journey i joined and worked with many clubs & associations to improve myself both socially and technically.</p>
    </div>

    <div class="row no-gutters">



      <div class="col-lg-6 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100"
           *ngFor="let club of clubs">
        <div class="count-box">
          <img class="img-fluid m-auto" src="{{ club?.logo }}" style="height: 250px;">
          <h2 class="text-center">{{ club?.name }}</h2>
          <br/>
          <hr/>
          <h5>{{ club?.start_date | date: 'yyyy/MM/dd'}} -
            <span *ngIf="club?.end_date != 'Present'">{{ club?.end_date | date: 'yyyy/MM/dd'}}</span>
            <span *ngIf="club?.end_date === 'Present'">{{ club?.end_date }}</span>
          </h5>
        </div>
      </div>


    </div>

  </div>
</section><!-- End Clubs Section -->
