<section id="skills" class="skills section-bg">
  <div class="container">

    <div class="section-title">
      <h2>Skills</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in
        iste officiis commodi quidem hic quas.</p>
    </div>

    <div class="row skills-content">

      <div class="col-lg-6" data-aos="fade-up" *ngFor="let category of categories">
        <h2>{{ category?.name }}</h2>
        <ng-template ngFor let-skill [ngForOf]="skills" >
          <div class="progress" *ngIf="skill.category.name == category.name ">
            <span class="skill">{{ skill?.name }}</span>
            <div class="">
              <progress-bar [progress]="skill?.knowledge" [color]="'#488aff'">
              </progress-bar>
            </div>
          </div>
        </ng-template>
        </div>
      </div>

    </div>
</section><!-- End Skills Section -->
