<section class="testimonials section-bg" id="testimonials">
  <div class="container">

    <div class="section-title">
      <h2>Testimonials</h2>
      <p></p>
    </div>
    <swiper [config]="config" class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">


        <div *ngFor="let testimonial of testimonials " class="swiper-slide">
          <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              {{ testimonial?.quote }}
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img alt="{{testimonial?.name}}" class="testimonial-img" src="{{ testimonial?.image }}">
            <h3>{{ testimonial?.name }}</h3>
            <h4>{{ testimonial?.role }}</h4>
          </div>
        </div><!-- End testimonial item -->


      </div>
      <div class="swiper-pagination"></div>
    </swiper>

  </div>
</section><!-- End Testimonials Section -->
