<section id="resume" class="resume">
  <div class="container">

    <div class="section-title" data-title="My cursus" data-intro="My cursus" data-step="2">
      <h2>Resume</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in
        iste officiis commodi quidem hic quas.</p>
    </div>

    <div class="row">
      <div class="col-lg-6" data-aos="fade-up">
        <app-experience></app-experience>
      </div>
      <div class="col-lg-6" data-aos="fade-up">
        <app-education></app-education>

      </div>
    </div>

  </div>
</section><!-- End Resume Section -->
